@use '@/styles/functions' as *;
@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.shopByCategory {
  display: flex;
  flex-direction: column;
  gap: to-rem(24);
  padding: 0 $page-padding-screen-s;

  @include respond-to('screen-m') {
    padding: 0 $page-padding-screen-m;
  }
}

.title {
  @include h2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: to-rem(32);

  @include respond-to('screen-m') {
    flex-direction: row;
    gap: to-rem(16);
  }
}
