@use '@/styles/mixins' as *;
@use '@/styles/functions' as *;
@use '@/styles/variables' as *;

.backButton {
  display: flex;
  align-items: center;
  gap: to-rem(4);
  width: fit-content;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.icon {
  width: to-rem(16);
  height: to-rem(16);
  background: url('/img/icons/arrow-up.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(270deg);
}

.text {
  @include small-text;

  color: $color-secondary;
  line-height: 1;
  transform: translateY(0.5px);

  .backButton:hover & {
    color: $color-primary;
  }
}
